@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Regular.woff2') format('woff2'),
       url('./assets/fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Test Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
       url('./assets/fonts/FoundersGrotesk-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
